.panel.panel-info
  .panel-heading
    %h3.panel-title
      評価 Evaluation
  .panel-body
    = render 'members/hazard_evaluation_detail', observation: observation
    = render 'members/danger_rating_detail', observation: observation
