// Place all the styles related to the AvalancheInfomations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avalanche-detail
  display: table
  width: 100%
.avalanche-zone
  display: table-cell
.avalanche-aspect
  display: table-cell
.avalanche-aspect-base
  position: relative
.avalanche-aspect-parts
  position: absolute
  top: 0px
  left: 0px
.avalanche-trigger
  display: table-cell
.avalanche-size
  display: table-cell

.avalanche-zone-base
  position: relative
.avalanche-zone-parts
  position: absolute
  top: 0px
  left: 292px